<div id="categories">
	<%= render 'categories/list' %>
	<ul>
		<li><%= link_to "Favorites", '#' %></li>
	</ul>
	<ul>
		<li><%= link_to "Log Out", '#' %></li>
	</ul>
</div>

<div id="menu">
<!-- 	<ul>
		<% Category.first.items.each do |item| %>
			<li>
				<div class="header">
					<h1><%= item.name %></h1>
					<p class="price"><%= number_to_currency(item.price, :unit => "$") %></p>
				</div>
				<p class="desc">
					<%= item.description %>
				</p>
			</li>
		<% end %>
	</ul> -->
</div>

<div id="order">

</div>