#categories
	%ul
		= render @categories
	%ul
		%li= link_to "Favorites", '#', id: 'category_favorites', class: 'category'
	%ul
		%li= link_to 'Log out', 'session', :confirm => 'Are you sure?', :method => :delete

#menu

#order
	%h1 Your Reservation
	#reservation
		%h2
			= current_customer.name
		%p<
			Party of 
			= number_field_tag :partysize, nil, :in => (1..9)
			%em> (1-9)
		%p<
			at
			