%li(id="item_#{item.id}")
	.header
		%h1= raw process_disclaimer(item.name)
		%p.price
			%a.favorite_toggle
				%img(src="#{favorites_link_for item}")/
			= number_to_currency item.price, unit: '$'
	%p.desc= item.description