<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>BJ's Order and Reserve</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>

	<body>

		
	<div id="header">
		<a href="/"><%= image_tag "logo-bjs.png" %></a>
	</div>
	
	<div id="wrapper">
		<%= yield %>
	</div>

	<%= render 'layouts/footer' %>

	</body>
</html>
